.container{
    height: 20em ;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.container h2{
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    height: 1em;
    color: #fff;
    text-align: center;
    background-color: #1C6BB7;
    border:none;
}
.container p{
    margin-top: 1em;
}